.categories{
    /* height: 950px; */
}
.categories h1{
    height: 50px;
    font-size: 25px;
    font-weight: 500;
    color: #424242;
}
.para2{
    display: -webkit-box;              /* Creates a flexible box layout */
   -webkit-line-clamp: 1;          /* Limits the text to 2 lines */
    -webkit-box-orient: vertical;      /* Ensures the text is arranged vertically */
    overflow: hidden;                  /* Hides the text that overflows the box */
    text-overflow: ellipsis;           /* Adds the "..." at the end of the truncated text */
}
.just{
    padding: 30px;
}
.cateimg{
    height: 80px ;
    width: 80px;
margin-bottom: 15px;
}.cateimg img{
    height: 100%;
    width: 100%;
}
.categoriesbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.categoriestwo{display: none;}
.justhead{
    display: none;
}
.categoriesbox{
    margin-top:22px; padding:25px;}

    .resjust{
        display: none;
    }
@media (max-width:550px) {
    .hotdealsbox{
        overflow-x: scroll;
        height: 25.4vw;
        padding: 10px 9px;
    }
    .hotdealsbox::-webkit-scrollbar {
        display: none;
      }
    .categories h1{
      color:  #111;

font-size: 4.2vw;
font-weight: 700;
    }
    .categoriesone{
        overflow-x: auto;
        grid-template-rows: 170px;
        overflow-y: hidden;
        gap: 40px;
    }
    
    .categories{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* padding: 8px 20px;} */}
    .cateimg{
         height: 26vw;
         width: 20vw;
    }
 .cateimg img{
    width: 100%;
    height: 100%;
 }
 .justitems{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
flex-basis: 86px;
flex-shrink: 0;
border: none;
transition: border 0.3 ease;
 }
.justitems:active{
border: 1px solid #fe4960;
border-radius: 16px;
}
 .justitems p{
    font-size: 14px;
    white-space: nowrap;
 }
.justhead{
    display: flex;
}
 .justhead h1{
    display: none;
 }

.hotdeals{

    height: 8.8vw;
    width: 8.8vw;
/* display: flex;
align-items: center;
justify-content: center; */
}
.hotdeals img{
    width: 100%;
height: 100%;

}
.hotdeals p{
    font-size: 10px;
}

.categoriesbox{
    margin-top:0px; padding:0px;
white-space: nowrap;
}
.just{
    display: none;
}
.resjust{
    display: flex;
    padding: 9px 0px;
}
.fridayimg{
    flex-direction: column;
    flex-basis: 9.4vw;
    height: 4.4vw;
    flex-shrink: 0;
    align-items: center;
    /* justify-content: center; */
}
.fridayimg img{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}
/* .categoriestwo{display: block;} */
}