.products h1{
    font-size: 22px;
    font-weight: 500;
    color: #424242;
}
.products .para{
    padding: 10px 10px;
    color: #f57224;
    font-weight: 600;
}
.flashsale{
    display: none;
}
.resparagraph{
display: none;
}
.imagee{
    display: none;
}
.para2{
        display: -webkit-box;              /* Creates a flexible box layout */
       -webkit-line-clamp: 2;          /* Limits the text to 2 lines */
        -webkit-box-orient: vertical;      /* Ensures the text is arranged vertically */
        overflow: hidden;                  /* Hides the text that overflows the box */
        text-overflow: ellipsis;           /* Adds the "..." at the end of the truncated text */
    }
    .just{
        height:100px;
         width:180px;
    }
    .grid{
grid-template-columns: 200px 200px 200px 200px 200px 200px;
grid-template-rows: 260px;

    }
    
    .products{
    padding:9px 32px;
    }   
    @media(max-width:1024px){
        .flashsale{
            display: flex;
        }
        .products h1{
            display: none;
        }
        .para{
            display: none;
        }
        .paragraph{
            display: none;
        }
    }
    @media (max-width:550px){


        .flashsale{
          
            display: flex;

              
        }
        .products{
            padding: 5px 6px;margin-bottom: 53px;

        }
        .just{
            height:100px;
             width:110px;
             position: relative;
        }
        .grid{
            grid-template-columns:85px 85px 85px;
            grid-template-rows: 129px 182px;
            gap: 34px;
            align-items: center;
            padding: 0px 0px;
            /* justify-content: center; */
            
                }
                .resparagraph{
                    display: inline-block;
                    }
.imagee{
    display: flex;
    background: url('https://img.lazcdn.com/g/tps/imgextra/i3/O1CN01PhPpIg1EHoElt2E3v_!!6000000000327-2-tps-129-108.png_200x200q80.png_.webp');
    position: absolute;
    background-size: cover;
    background-position: 50%;
  height: 9.6vw;
  width:11.6vw;
  color: white;
  font-size: 12px;
}
.imagee img{
    border-radius: 7px;
}
.imagee p{
    font-size:9px ;
    position: absolute;
  left: 19%;
  font-weight: 700;
}  
.imagee span{
    position: absolute;
    top: 35%;
    left: 23%;
    font-weight: 700;
    font-size: 13px;
}      
.paragraph{
    display: none;
}
.sub{
    height: 4vw;
    width: 24vw;
    background-color: #fe4960;
    position: relative;
    border-radius: 19px;
    line-height: 4vw;
    font-size: 2.6vw;
}
.fire{
    position: absolute;
    bottom: 0;
    left: -4px;
}
.sp{
    position: absolute;
    left: 19%;
    bottom: 0%;
    top: 3%;
    gap: 6px;
    color: white;



}
    }